{% extends "./base.html" %}

{% block header %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="./css/endpoint.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.0/es6-promise.auto.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script>
  function syntaxHighlight(json) {
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
      var cls = 'json-number';
      if (/^"/.test(match)) {
        if (/:$/.test(match)) {
          // cls = 'json-key';
          return '<span class="json-key">' + match.slice(0, -1) + '</span>:';
        } else {
          cls = 'json-string';
        }
      } else if (/true|false/.test(match)) {
        cls = 'json-boolean';
      } else if (/null/.test(match)) {
        cls = 'json-null';
      }
      return '<span class="' + cls + '">' + match + '</span>';
    });
  }

  function showRequestMaker() {
    $('.ui.dimmable')
      .dimmer('show')
    ;
  }

  function send() {
    $.ajax({
      url     : URLs,
      data    : $('#sentToBack').serialize(),
      type    : "POST",
      dataType: 'text',

      success: function (msg) {
        alert(msg);
      },
      error  : function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);

        alert(thrownError);
      }
    });
  }

  function setForm() {
    $('#request-form').submit(function () {
      $("#REQ_RESULT").html('<div class="ui loader"/>');
      // get all the inputs into an array.
      var $inputs = $('#request-form :input');
      // not sure if you wanted this, but I thought I'd add it.
      // get an associative array of just the values.
      var values = {};
      $inputs.each(function () {
        values[this.name] = $(this).val();
      });

//          {% if result.req.headers %}
      var headers = new Headers();
//          {% endif %}

//          {% if result.req.raw_body %}
      var body = "";
//          {% endif %}

      _.forEach(values, function (v, k) {
//            {% if result.req.headers %}
        if (_.startsWith(k, "REQ_HEADER_")) {
          var headerKey = _.replace(k, "REQ_HEADER_", "");
          headers.append(headerKey, v);
        }
//            {% endif %}

//            {% if result.req.raw_body %}
        if (k == "REQ_BODY") {
          body = v;
        }
//            {% endif %}
      });


      var options = {
//          {% if result.req.headers %}
        headers: headers,
//          {% endif %}
//          {% if result.req.raw_body %}
        body   : body,
//          {% endif %}
        method : '{{result.method}}'
      };

      fetch(values["URL"], options)
        .then(function (res) {
          return res.json().then(function (json) {
            return {
              status    : res.status,
              statusText: res.statusText,
              json      : json
            }
          });
        }).then(function (res) {
        var result = '<span class="not-code status">' + res.status + '</span><br/><span class="not-code status text">' + res.statusText + '</span>';
        if (!_.isUndefined(res.json)) {
//              syntaxHighlight(res.json);
          var text = JSON.stringify(res.json, null, 2);
          result += '<br/><pre>' + syntaxHighlight(text) + '</pre>';
        }
        $("#REQ_RESULT").html(result);
      }).catch(function (err) {
        $("#REQ_RESULT").html('<span class="not-code error">' + err.message + '</span>')
      });
    });
  }

  function sendRequest() {
    event.preventDefault();
  }
</script>
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="doc-content ui blurring dimmable">
    <div class="ui dimmer">
        <div class="content">
            <div class="center">
                <div class="ui segment request-maker">
                    <div class="ui equal width grid">
                        <div class="row">
                            <div class="column setting">
                                <form class="ui form" id="request-form" onsubmit="sendRequest(event);">
                                    <div class="content-block">
                                        <h4 class="ui header title">
                                            URL
                                        </h4>
                                        <div class="ui divider"></div>
                                        <div class="field">
                                            <input type="text" name="URL" value="{{result.url}}">
                                        </div>
                                    </div>
                                    <div class="content-block">
                                        <h4 class="ui header title">
                                            METHOD
                                        </h4>
                                        <div class="ui divider"></div>
                                        <div class="ui basic small label {{result.method}}">
                                            {{result.method}}
                                        </div>
                                    </div>
                                    {% if result.req.headers %}
                                    <div class="content-block">
                                        <h4 class="ui header title">
                                            HEADERS
                                        </h4>
                                        <div class="ui divider"></div>
                                        {% for header in result.req.headers %}
                                        <div class="field">
                                            <label>{{header.key}}</label>
                                            <input type="text" name="REQ_HEADER_{{header.key}}"
                                                   value="{{header.value}}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}

                                    {% if result.req.raw_body %}
                                    <div class="content-block">
                                        <h4 class="ui header title">
                                            BODY
                                        </h4>
                                        <div class="ui divider"></div>
                                        <div class="field">
                                            <textarea name="REQ_BODY">{{result.req.raw_body}}</textarea>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <button class="ui green right floated button" type="submit">SEND</button>
                                </form>
                            </div>
                            <div class="column console" id="REQ_RESULT">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="endpoint">
        <div class="console-back"/>
        <div class="ui equal width grid">
            <div class="row">
                <div class="column spec">
                    <h2 class="ui header title">
                        {{result.endpointName}}
                    </h2>
                    <div class="subtitle">
                        {{result.description}}
                    </div>
                </div>
                <div class="column console">
                    <h2 class="ui header title">
                        <button class="ui inverted left floated button" onclick="showRequestMaker();">
                            <i class="terminal icon"></i>
                            run
                        </button>
                        runner result
                    </h2>
                </div>
            </div>
            <!-- EXAMPLE -->
            <div class="row">
                <div class="column spec">
                    <div class="usage">
                        <div class="ui basic small label {{result.method}}">
                            {{result.method}}
                        </div>
                        <pre>{{result.example_url}}</pre>
                    </div>
                </div>
                <div class="column console">
                    <div class="content-block">
                        <h4 class="ui header title">
                            URL
                        </h4>
                        <div class="ui divider"></div>
                        <pre>{{result.url}}</pre>
                    </div>
                </div>
            </div>

            {% if result.req.headers %}
            <!-- REQUEST HEADERS-->
            <div class="row">
                <div class="column spec">
                    <div class="content-block">
                        <h4 class="ui header title">
                            REQUEST HEADERS
                        </h4>
                        <div class="ui divider"></div>
                        <table class="ui very basic compact table">
                            <thead>
                            <tr class="top aligned">
                                <th class="four wide">key</th>
                                <th>value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for header in result.req.headers %}
                            <tr class="top aligned">
                                <td>{{header.key}}</td>
                                <td>{{header.value}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column console">
                </div>
            </div>
            {% endif %}

            {% if result.req.bodyParams %}
            <!-- REQUEST BODY PARAMS -->
            <div class="row">
                <div class="column spec">
                    <div class="content-block">
                        <h4 class="ui header title">
                            REQUEST BODY PARAMS
                        </h4>
                        <div class="ui divider"></div>
                        <table class="ui very basic compact table">
                            <thead>
                            <tr class="top aligned">
                                <th class="three wide">key</th>
                                <th class="three wide">type</th>
                                <th>description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for param in result.req.bodyParams %}
                            <tr class="top aligned">
                                <td>{{param.formatted | safe}}</td>
                                <td>{{param.type}}</td>
                                <td>
                                    {% if param.optional %}<div class="ui mini label optional">optional</div>{% endif %}
                                    {{param.desc}}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column console">
                    {% if result.req.body %}
                    <!-- REQUEST BODY -->
                    <div class="content-block">
                        <h4 class="ui header title">
                            REQUEST BODY
                        </h4>
                        <div class="ui divider"></div>
                        <pre>{{result.req.body|safe }}</pre>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% if result.res.status %}
            <!-- RESPONSE STATUS -->
            <div class="row">
                <div class="column spec">
                    <div class="content-block">
                        <h4 class="ui header title">
                            RESPONSE STATUS
                        </h4>
                        <div class="ui divider"></div>
                        <table class="ui very basic compact table">
                            <thead>
                            <tr class="top aligned">
                                <th class="two wide">code</th>
                                <!--<th class="four wide">status</th>-->
                                <th>message</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="top aligned">
                                <td>{{result.res.status.code}}</td>
                                <td>{{result.res.status.message}}</td>
                                <!--<td>{{status.detail}}</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column console">
                </div>
            </div>
            {% endif %}

            {% if result.res %}
            <!-- RESPONSE BODY PARAMS -->
            <div class="row">
                <div class="column spec">
                    <div class="content-block">
                        <h4 class="ui header title">
                            RESPONSE BODY PARAMS
                        </h4>
                        <div class="ui divider"></div>
                        <table class="ui very basic compact table">
                            <thead>
                            <tr class="top aligned">
                                <th class="three wide">key</th>
                                <th class="three wide">type</th>
                                <th>description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for param in result.res.bodyParams %}
                            <tr class="top aligned">
                                <td class="key">
                                    {{param.formatted | safe}}
                                </td>
                                <td>{{param.type}}</td>
                                <td>{{param.desc}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column console">
                    {% if result.res.body %}
                    <!-- REPONSE BODY -->
                    <div class="content-block">
                        <h4 class="ui header title">
                            REPONSE BODY
                        </h4>
                        <div class="ui divider"></div>
                        <pre>{{result.res.body | safe}}</pre>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
