<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="task">
    <!--request headers-->
    {% if req.headers %}
    <div class="row margin-bottom-three">
        <div class="left">
            <div class="title">
                REQUEST HEADERS
            </div>
            <hr>
            <table>
                <thead>
                <tr>
                    <th class="width-ten">key</th>
                    <th>value</th>
                </tr>
                </thead>
                <tbody>
                {% for header in req.headers %}
                <tr>
                    <td>{{header.key}}</td>
                    <td>{{header.value}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="right">
        </div>
    </div>
    {% endif %}

    <!--request body-->
    {% if req.bodyParams %}
    <div class="row margin-bottom-three">
        <div class="left">
            <div class="title">
                REQUEST BODY PARAMS
            </div>
            <hr>
            <table>
                <thead>
                <tr>
                    <th class="width-nine">key</th>
                    <th class="width-seven">type</th>
                    <th>description</th>
                </tr>
                </thead>
                <tbody>
                {% for param in req.bodyParams %}
                <tr class="top aligned">
                    <td>{{param.formatted | safe}}</td>
                    <td>{{param.type | safe}}</td>
                    <td>
                        {% if param.optional %}
                        <span class="optional-tag">optional</span>
                        {% endif %}
                        {{param.description}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="right">
            {% if req.body %}
            <div class="title">
                REQUEST BODY
            </div>
            <hr>
            <pre class="inverted">{{ req.body|safe }}</pre>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!--response status-->
    {% if res.status %}
    <div class="row margin-bottom-three">
        <div class="left">
            <div class="title">
                RESPONSE STATUS
            </div>
            <hr>
            <table>
                <thead>
                <tr>
                    <th class="width-four">code</th>
                    <th>message</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{res.status.code}}</td>
                    <td>{{res.status.message}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="right">
        </div>
    </div>
    {% endif %}

    <!--response body-->
    {% if res %}
    <div class="row margin-bottom-three">
        <div class="left">
            <div class="title">
                RESPONSE BODY PARAMS
            </div>
            <hr>
            <table>
                <thead>
                <tr>
                    <th class="width-nine">key</th>
                    <th class="width-seven">type</th>
                    <th>description</th>
                </tr>
                </thead>
                <tbody>
                {% for param in res.bodyParams %}
                <tr>
                    <td>
                        {{param.formatted | safe}}
                    </td>
                    <td>{{param.type | safe}}</td>
                    <td>
                        {% if param.optional %}
                        <span class="optional-tag">optional</span>
                        {% endif %}
                        {{param.description}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="right">
            {% if res.body %}
            <div class="title">
                RESPONSE BODY
            </div>
            <hr>
            <pre class="inverted">{{ res.body | safe }}</pre>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
</body>
</html>
