<!DOCTYPE html>
<html lang="en">
<head>
    <script>
      function clickOnTask(id, description, url, fileName, animate = true) {


        {% for task in result.tasks %}
        $('#task_{{task.fileName}}').removeClass('active');
        {% endfor %}
        $(`#${id}`).addClass('active');


        if (animate) {
          $('#task-description').fadeOut(200).promise().done(function () {
            $(this).text(description);
            $(this).fadeIn(200);
          })

          $('#task-url').fadeOut(200).promise().done(function () {
            $(this).text(url);
            $(this).fadeIn(200);
          })

          $('#task').fadeOut(200).promise().done(function () {
            $(this).load(fileName);
            $(this).fadeIn(200);
          })

        } else {
          $('#task-description').text(description);
          $('#task-url').text(url);
          $('#task').load(fileName);
        }
      }

      function defaultTask() {
        clickOnTask('task_{{result.firstTask.fileName}}', '{{result.firstTask.description}}', '{{result.firstTask.url|safe}}', '{{result.firstTask.fileName}}.html', false);
      }
    </script>
</head>
<body>
<div class="endpoint" onload="defaultTask()">
    <!-- title -->
    <div class="row margin-bottom-one">
        <div class="left">
            <div class="endpoint-name">{{result.endpointName}}</div>
            {% if result.description %}
            <div class="endpoint-description">
                {{result.description}}
            </div>
            {% endif %}
        </div>
        <div class="right">
            <div class="results-container">
                {% for task in result.tasks %}
                <button id="task_{{task.fileName}}" onclick="clickOnTask('task_{{task.fileName}}', '{{task.description}}', '{{task.url|safe}}', '{{task.fileName}}.html')">{{task.name}}</button>
                {% endfor %}
            </div>
            <div id="task-description" class="result-description">

            </div>
        </div>
    </div>
    <!--method-->
    <div class="row margin-bottom-half">
        <div class="left">
            <span class="method-tag {{result.method}}">
                {{result.method}}
            </span>
        </div>
        <div class="right">
            <div class="title">
                URL
            </div>
            <hr>
        </div>
    </div>
    <!--url-->
    <div class="row margin-bottom-three">
        <div class="left">
            <span class="url">
                <pre>{{result.pathParams}}</pre>
            </span>
        </div>
        <div class="right">
            <pre id="task-url" class="inverted">{{result.url}}</pre>
        </div>
    </div>
    <div id="task">

    </div>
</div>
</body>
</html>
