<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{projectName}}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
            integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css">
    <link rel="stylesheet" type="text/css" href="style/index.css">
    <script>
      var focusedEndpoint = "";
      var focusedEndpointNameId = "";

      function loadDocContent(fileName, name) {
        if (focusedEndpoint != "") {
          $(focusedEndpoint).animate({
            "border-radius"   : "none",
            "background-color": "transparent",
          })
        }
        focusedEndpoint = `#endpoint-${fileName}`;
        $(focusedEndpoint).animate({
          "border-radius"   : ".5em",
          "background-color": "rgb(230, 230, 230)",
        })

        if (focusedEndpointNameId != "") {
          $(focusedEndpointNameId).animate({
            "color": 'rgb(190, 190, 190)'
          });
          $(focusedEndpointNameId).css({
            "font-weight": 500
          });

        }
        focusedEndpointNameId = `#endpoint-${fileName}-name`;
        $(focusedEndpointNameId).animate({
          "color": 'rgb(90, 90, 90)'
        });
        $(focusedEndpointNameId).css({
          "font-weight": 700
        });

        $("#doc-content").fadeOut(200).promise().done(function () {
          $(this).load(encodeURIComponent(fileName + ".html"), function () {
            defaultTask();
            $(this).fadeIn(200);
          });
        })

        // nav-bar-title
        $("#nav-bar-subtitle").text(name);
      }

      var sideMenuIsOpen = false;
      function toggleSideMenu() {
        $("#doc-side-menu").animate({
          "margin-left": (sideMenuIsOpen ? '-19rem' : '0')
        })
        sideMenuIsOpen = !sideMenuIsOpen;
      }

      function toggleFolder(id) {
        if ($("#" + id).css("display") != "none") {
          $("#" + id).hide(400);
        } else {
          $("#" + id).show(400);
        }
      }

      function loadDefaultContent() {
        $("#nav-bar-subtitle").text("");
        $("#doc-content").html('<div id="default-content" class="default-content"></div>')
          .promise()
          .done(function () {
            $('#default-content')
              .fadeOut(0)
              .promise()
              .done(function () {
                $(this).html(
                  '<div class="project-name">{{menu.name}}</div>' +
                  '<div class="project-subtitle"> API DOCUMENT</div>' +
                  '<div class="powered-by-duckdoc">powered by <a href="https://github.com/popodidi/duckdoc">duckdoc</a></div>'
                );
                $(this).fadeIn();
              })
          });
      }
    </script>
</head>
<body onload="loadDefaultContent()">
<div class="doc-side-menu" id="doc-side-menu">
    <div class="project-name" onclick="loadDefaultContent();">{{menu.name}}</div>

    {% macro collectionToMenu(collection, prefix) %}
    <li>
        <div onclick="toggleFolder('folder-{{collection.id}}')"
             class="folder-title">
            <span class="ion-folder"></span>
            {{collection.name}}
        </div>
        <ul id="folder-{{collection.id}}" class="folder-content">
            {% for c in collection.collections %}
            {{ collectionToMenu(c, collection.name+'/') }}
            {% endfor %}
            {% for endpoint in collection.endpoints %}
            <li id="endpoint-{{endpoint.fileName}}" class="endpoint" onclick="loadDocContent('{{endpoint.fileName}}','{{prefix}}'+'{{collection.name}}/'+'{{endpoint.endpointName}}')">
                <div id="endpoint-{{endpoint.fileName}}-method" class="method-tag {{endpoint.method}}">
                    {{endpoint.method}}
                </div>
                <div id="endpoint-{{endpoint.fileName}}-name" class="name">{{endpoint.endpointName}}</div>
                <!--<div class="task-number">{{endpoint.taskNumber}}</div>-->
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endmacro %}

    <ul>
        {% for collection in menu.collections %}
        {{ collectionToMenu(collection) }}
        {% endfor %}

        {% for endpoint in menu.endpoints %}
        <li id="endpoint-{{endpoint.fileName}}" class="endpoint" onclick="loadDocContent('{{endpoint.fileName}}', '{{endpoint.endpointName}}')">
            <div id="endpoint-{{endpoint.fileName}}-method"
                 class="method-tag {{endpoint.method}}">
                {{endpoint.method}}
            </div>
            <div id="endpoint-{{endpoint.fileName}}-name"
                 class="name">
                {{endpoint.endpointName}}
            </div>
            <!--<div class="task-number">{{endpoint.taskNumber}}</div>-->
        </li>
        {% endfor %}
    </ul>
</div>
<div class="all-content">
    <div class="nav-bar">
        <a class="ion-navicon-round"
           onclick="toggleSideMenu()"></a>
        <a>
            {{menu.name}}
        </a>
        <a id="nav-bar-subtitle" class="subtitle">
        </a>
    </div>
    <div class="doc-content" id="doc-content">

    </div>
    ...
</div>
</body>
</html>
