/*
doc content
 */
.doc-content {
    position: absolute;
    height: 100vh;
    /*min-height: 100%;*/
    /*padding: 2rem 2rem 2rem 2rem;*/
    /*height: 100%;*/
}

.doc-content .ui.dimmer {
    overflow: auto;
    padding: 3rem 5rem;
}

.doc-content .request-maker {
    overflow: auto;
    border: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;

    background-image: linear-gradient(right, rgb(70, 70, 70) 50%, white 50%);
    background-image: -o-linear-gradient(right, rgb(70, 70, 70) 50%, white 50%);
    background-image: -moz-linear-gradient(right, rgb(70, 70, 70) 50%, white 50%);
    background-image: -webkit-linear-gradient(right, rgb(70, 70, 70) 50%, white 50%);
    background-image: -ms-linear-gradient(right, rgb(70, 70, 70) 50%, white 50%);
}

.doc-content .request-maker .column.setting {
}

.doc-content .request-maker .field label {
    font-size: .75rem;
    font-weight: 600;
    color: rgb(140, 140, 140);
    padding: 0 .5rem;
    margin-bottom: .5rem;
}

.doc-content .request-maker .button {
    font-weight: 500 !important;
    font-size: 1rem;
    padding: .8rem 1.5rem !important;
}

.doc-content .request-maker .column.console {
    font-family: 'Source Code Pro', monospace !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    letter-spacing: .02em !important;
    line-height: 140% !important;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: rgb(200, 200, 200);
    text-align: left;
}

.doc-content .request-maker .column.console span.not-code {
    font-family: 'Source Code Pro', monospace !important;
    font-weight: 400 !important;
    font-size: 1.1rem !important;
    letter-spacing: .02em !important;
    line-height: 140% !important;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: rgb(200, 200, 200);
    text-align: left;
    margin-bottom: 1rem;
}

.doc-content .request-maker .column.console span.not-code.error {
    font-weight: 500 !important;
    font-size: 1rem !important;
    color: #ff6e69 !important;
}

.doc-content .request-maker .column.console span.not-code.status {
    font-weight: 600 !important;
    color: rgb(210, 210, 210) !important;
}

.doc-content .request-maker .column.console span.not-code.status.text {
    font-family: 'Source Code Pro', monospace !important;
    font-size: .9rem !important;
    letter-spacing: .023 m !important;
    font-weight: 400 !important;
}

.doc-content .endpoint {
    /*position: relative;*/
    /*height: 100%;*/
}

.doc-content .endpoint .console-back {
    position: relative;
    height: 100%;
    min-height: 100vh;
    /*background: rgb(90, 90, 90);*/
    /*background-size: 50% auto;*/
    background-image: linear-gradient(right, rgb(90, 90, 90) 50%, white 50%);
    background-image: -o-linear-gradient(right, rgb(90, 90, 90) 50%, white 50%);
    background-image: -moz-linear-gradient(right, rgb(90, 90, 90) 50%, white 50%);
    background-image: -webkit-linear-gradient(right, rgb(90, 90, 90) 50%, white 50%);
    background-image: -ms-linear-gradient(right, rgb(90, 90, 90) 50%, white 50%);
}

.doc-content .ui.grid {
    /*margin-left: 0;*/
    margin: 0;
}

.doc-content .ui.grid .row {
    padding: 0;
    border-width: 0;
}

.doc-content .column.console {
    /*background: rgb(90, 90, 90);*/
}

.console pre, code {
    color: rgb(200, 200, 200);
    background-color: rgb(70, 70, 70);
}

.console pre {
    border: 1px solid rgba(180, 180, 180, .5);
}

/*
sepc
 */
.doc-content .column.spec {
    padding-left: 1.5rem;
}

.doc-content .column .title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: .1em;
    color: rgb(90, 90, 90);
}

.doc-content .column.console .title {
    text-align: right;
    color: rgb(210, 210, 210);
}

.doc-content .column.console .title button {
    font-family: 'Source Code Pro', monospace !important;
    font-weight: 300 !important;
    font-size: 1.1rem;
    margin-left: .5rem;
    padding-bottom: .6rem !important;
}

.doc-content .column.console .title button i {
    margin-right: -.4rem !important;
}

.doc-content .column .subtitle {
    font-weight: 300;
    margin-bottom: 1em;
    color: rgb(160, 160, 160);
}

.doc-content .column .usage {
    margin-bottom: 3em;
}

.doc-content .column .label.GET {
    color: #3eb63e !important;
    border-color: #3eb63e !important;
}

.doc-content .column .label.POST {
    color: #f5a623 !important;
    border-color: #f5a623 !important;
}

.doc-content .column .label.PUT {
    color: #4a90e2 !important;
    border-color: #4a90e2 !important;
}

.doc-content .column .label.DELETE {
    color: #ed4b48 !important;
    border-color: #ed4b48 !important;
}

.doc-content .column .content-block {
    margin-left: .5rem;
    margin-bottom: 2rem;
}

.doc-content .column .content-block .title {
    text-align: left;
    font-size: .9rem;
    margin-top: 0;
    margin-left: -.5rem;
}

.doc-content .request-maker .column .content-block {
    margin-left: 0;
}

.doc-content .request-maker .column .content-block .ui.divider {
    margin-left: 0;
}

.doc-content .request-maker .column .content-block .title {
    margin-left: 0;
}

.doc-content .column .content-block .ui.divider {
    margin-top: .5rem;
    margin-left: -.5rem;
    border-radius: 1px;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.doc-content .column.console .content-block .ui.divider {
    border-top: 1px solid rgba(180, 180, 180, .5);
    border-bottom: none;
}

.doc-content .column .content-block th {
    font-weight: 600;
    font-size: .8em;
    padding-bottom: .5em;
    color: rgb(95, 95, 95);
}

.doc-content .column .content-block td {
    font-weight: 300;
    font-size: .8em;
    color: rgb(95, 95, 95);
    word-break: break-all;
}

.doc-content .column .content-block td.key {
    word-break: normal;
}

.doc-content .column .content-block td .optional {
    /*color: #00B5AD;*/
    /*font-weight: 300;*/
}