body {
    background-color: rgb(248, 248, 248);
}

div, h1, h2, h3, h4, h5, th, td, a, p, span, label, button {
    font-family: Raleway !important;
}

h1, h2, h3, h4, h5, th {
    letter-spacing: .05em;
}

div, td, a, p, span, label, button {
    letter-spacing: .08em;
}

td {
    word-break: break-all;
}

pre, code, input, textarea {
    font-family: 'Source Code Pro', monospace !important;
    font-weight: 400 !important;
    font-size: .85em !important;
    letter-spacing: .03em !important;
    line-height: 140% !important;
    white-space: pre !important;
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;
    white-space: -o-pre-wrap !important;
    color: rgb(120, 120, 120);
    background-color: rgb(248, 248, 248);
}

input, textarea {
    color: rgb(120, 120, 120) !important;
    background-color: rgb(248, 248, 248) !important;
}

.ui.button {
    font-weight: 300 !important;
    padding: .5em 1em !important;
    /*box-shadow: 0 0 0 1px #fff inset!important;*/
}

.ui.inverted.button {
    /*font-weight: 300 !important;*/
    /*padding: .5em 1em !important;*/
    box-shadow: 0 0 0 1px #fff inset !important;
}

/*.ui.basic.inverted.button button:hover {*/
/*font-weight: 300 !important;*/
/*box-shadow: 0 0 0 1px!important;*/
/*padding: .5em 1em !important;*/
/*}*/

/*pre, code, input {*/
/*font-family: 'Source Code Pro', monospace;*/
/*font-weight: 400;*/
/*font-size: .85em;*/
/*letter-spacing: .03em;*/
/*line-height: 140%;*/
/*white-space: pre;*/
/*white-space: pre-wrap;*/
/*white-space: -moz-pre-wrap;*/
/*white-space: -o-pre-wrap;*/
/*color: rgb(120, 120, 120);*/
/*background-color: rgb(248, 248, 248);*/
/*}*/

pre, input {
    padding: .5em 1em !important;
    border-radius: 4px !important;
    border: 1px solid rgb(230, 230, 230);
}

pre span {
    font-family: 'Source Code Pro', monospace !important;
}

pre .json-key {
    color: #c9ffaa;
}

pre .json-string {
    color: #d0a5ff;
}

pre .json-boolean {
    color: #ff6e69;
}

pre .json-null {
}

pre .json-number {
    color: #7e8fff
}

/*pre code {*/
/*padding: .2em .5em;*/
/*background-color: transparent;*/
/*}*/

.doc-side-menu {
    width: 18rem !important;
}

/*
side menu
 */

.doc-side-menu .header.title{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em !important;
    letter-spacing: .1em;
    color: rgb(90, 90, 90);
    margin: 1rem
}

.doc-side-menu .header.title a{
    color: rgb(90, 90, 90) !important;
    word-break: break-all;
}

.doc-side-menu .folder {
    padding: 0 1rem !important;
    margin: 0 !important;
}

.doc-side-menu .folder .header.title {
    text-transform: none;
    font-weight: 600 !important;
    font-size: .9em !important;
    margin-bottom: .7rem !important;
}

.doc-side-menu .endpoint {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.doc-side-menu .folder .endpoint {
    padding-right: 0 !important;
    padding-left: .5rem !important;
    border-left: 3px solid rgb(230, 230, 230) !important;
}

.doc-side-menu .folder .folder {
    border-left: 3px solid rgb(230, 230, 230) !important;
}

.doc-side-menu .endpoint .container {
    display: -webkit-flex;
    display: flex;
    padding: 0 .1rem;
    margin-bottom: .7rem;
}

.doc-side-menu .endpoint .method-tag {
    margin-right: .5rem;
    width: 4rem;
    font-weight: 700;
    font-size: .65rem !important;
    padding-top: .15rem;
    text-align: right;
    background-color: transparent;
    border: hidden;
}

.doc-side-menu .endpoint .title {
    -webkit-flex: 1;
    flex: 1;
    font-family: 'Source Code Pro', monospace !important;
    font-weight: 400;
    font-size: .8rem !important;
    line-height: 1.2;
    letter-spacing: .02rem;
    word-break: break-all;
    color: rgb(180, 180, 180);
}

.doc-side-menu .active.endpoint .title {
    font-weight: 600;
    color: rgb(90, 90, 90);
}

.doc-side-menu .endpoint .GET {
    color: #3eb63e !important;
}

.doc-side-menu .endpoint .POST {
    color: #f5a623 !important;
}

.doc-side-menu .endpoint .PUT {
    color: #4a90e2 !important;
}

.doc-side-menu .endpoint .DELETE {
    color: #ed4b48 !important;
}

.doc-side-menu .endpoint .title {

}

.doc-content {
    margin-left: 18rem;
    background-color: white;
}

