@import "variables";

.doc-content .endpoint {
  height: 100%;
  padding-top: 1rem;
  @include half-dark-background();
  pre {
    @extend pre
  }

  .endpoint-name {
    font-size: 1.2rem;
    font-weight: $font-weight-semi-bold;
    color: $color-dark-gray;
    cursor: pointer;
  }

  .method-tag {
    font-weight: $font-weight-bold;
    font-size: .8rem;
    padding: .3rem .8rem;
    border-radius: .3em;
  }

  .margin-bottom.half {
    @include marginBottom(.5rem)
  }
  .margin-bottom.one {
    @include marginBottom(1rem)
  }
  .margin-bottom.two {
    @include marginBottom(2rem)
  }
  .margin-bottom.three {
    @include marginBottom(3rem)
  }

  .row {
    display: -webkit-flex;
    display: flex;
    width: 100%;

    .title {
      font-size: .8rem;
      font-weight: $font-weight-semi-bold;
    }

    @include methodColor();
    @include methodBorder();

    .left {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 1rem;
      color: $color-dark-gray;

      .project-name {
        font-size: 1.5rem;
        font-weight: $font-weight-semi-bold;
      }
    }

    .right {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 1rem;
      color: $color-light;

      hr {
        @extend hr.inverted
      }

      .title {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;

        button {
          font-size: 1rem;
        }

        button:hover {
          background-color: $color-extra-light;
          border: 1px transparent solid;
          color: $color-console-div-background;
        }
        .title {
          font-size: 1.2rem;
          font-weight: $font-weight-semi-bold;
        }
      }
    }
  }
}