// FONTs
$font-normal: Raleway;
$font-monospace: 'Source Code Pro', monospace;
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// SPACINGs


// COLORs
// style
$color-dark-gray: rgb(90, 90, 90);
$color-light-gray: rgb(190, 190, 190);
$color-light: rgb(220, 220, 220);
$color-extra-light: rgb(240, 240, 240);

$color-background-gray: rgb(248, 248, 248);
$color-console-background-gray: rgb(70,70,70);
$color-console-div-background-gray: rgb(90,90,90);
// method tags
$color-GET: #3eb63e;
$color-POST: #f5a623;
$color-PUT: #4a90e2;
$color-DELETE: #ed4b48;
// json syntax highlight
$color-json-key: #c9ffaa;
$color-json-string: #d0a5ff;
$color-json-boolean: #ff6e69;
$color-json-number: #7e8fff;

@mixin half-dark-background() {
  background-image: linear-gradient(right, $color-console-div-background-gray 50%, white 50%);
  background-image: -o-linear-gradient(right, $color-console-div-background-gray 50%, white 50%);
  background-image: -moz-linear-gradient(right, $color-console-div-background-gray 50%, white 50%);
  background-image: -webkit-linear-gradient(right, $color-console-div-background-gray 50%, white 50%);
  background-image: -ms-linear-gradient(right, $color-console-div-background-gray 50%, white 50%);
}

  // BOREDERS
$border-code: 1px solid rgb(230, 230, 230);