@import "style";
@import "doc-side-menu";
@import "doc-content";

body {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
}

.doc-side-menu {
  width: 15rem;
}

.doc-content {
  -webkit-flex: 1;
  flex: 1;
}