@import "variables";
@import "method";

.doc-side-menu {
  @include methodColor();
  font-size: 1rem;

  .project-name {
    font-size: 1.1em;
    letter-spacing: .05em;
    font-weight: $font-weight-extra-bold;
    color: $color-dark-gray;
    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: .5em;
  }

  li {
    margin-bottom: .3em;
  }

  .folder-title {
    padding-top: .3em;
    padding-bottom: .3em;
    list-style-type: circle;
    text-transform: none;
    font-weight: $font-weight-semi-bold;
    font-size: .8em;
    margin-bottom: .5em;
    cursor: pointer;
    color: $color-dark-gray;

    span {
      margin-right: .5em;
    }
  }

  .folder-content {
    display: none;
    padding-left: 1em;
    //border-left: 2px solid rgb(230, 230, 230);
    margin-bottom: .8em;
    .endpoint .method-tag {
      //text-align: right;
    }
  }

  .endpoint {
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    font-size: .7em;
    margin-bottom: 0;//.1em;
    align-items: baseline;
    padding: .5em .6em;
    margin-left: -.7em;

    .method-tag {
      width: 2.5em;
      margin-right: 1em;
      font-weight: $font-weight-bold;
      //padding-top: .15em;
      font-size: .9em;
      letter-spacing: .03em;
    }

    .name {
      //font-size: .9em;
      -webkit-flex: 1;
      flex: 1;
      //font-family: $font-monospace;
      font-weight: $font-weight-regular;
      letter-spacing: .03em;
      //word-break: break-all;
      color: $color-light-gray;
    }

    .task-number {
      font-size: .5em;
      font-family: $font-monospace;
      font-weight: $font-weight-medium;
      background-color: $color-light;
      padding: .3em .5em;
      border-radius: 1em;
      min-width: 1em;
      text-align: center;
    }
  }
}