@import "style";
@import "doc-side-menu";
@import "doc-content-default";
@import "doc-content";

body {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  height: 100vh;
}



.doc-side-menu {
  margin-left: -19rem;
  width: 15rem;
  padding: 2rem;
  overflow: auto;
  background-color: $color-background-gray;
  z-index: 1000;
}

.all-content{
  -webkit-flex: 1;
  flex: 1;
  .nav-bar {
    z-index: 500;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color-dark-gray;
    overflow: hidden;
    color: $color-light;
    font-weight: $font-weight-bold;
    height: 3rem;
    a {
      float: left;
      display: block;
      text-align: center;
      padding: 1em 1.2em;
      text-decoration: none;
      cursor: pointer;
    }

    a.subtitle {
      font-weight: $font-weight-light;
      //letter-spacing: .03em;
      //padding-top: .1em;
      margin-top: .4em;
      font-size: .8em;
    }
  }

  .doc-content {
    padding-top: 3rem;
    height: calc(100vh - 3rem);
    //margin-left: 17.5rem;
  }
}
