.doc-content {
    height: 100%;
    position: relative;
    text-align: center;
}

.doc-content .index {
    width: 100%;
    /*padding: 13rem 0 5rem 0;*/
    position: absolute;

    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.doc-content .index .title {
    padding-top: 15rem;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 4em;
    color: rgb(80, 80, 80);
}

.doc-content .index .title .ui.header{
    font-weight: 700;
    font-size: 1em;
    color: rgb(80, 80, 80);
    word-break: break-all;
}

.doc-content .index .subtitle {
    font-weight: 300;
    font-size: 1.3em;
    flex: 1;
}

.doc-content .footer {
    margin-bottom: 6rem;
    font-weight: 200;
    color: rgb(180, 180, 180);
}

.doc-content .index .version.label {
    /*position: absolute;*/
    /*right: 20%;*/
    /*top: 13rem;*/
    font-weight: 400;
    font-size: 1rem;
    padding: 0.3rem 0.6rem 0.4rem 0.6rem;
    color: #3eb63e !important;
    border: 1px solid #3eb63e !important;
}

.doc-content .index .info {
    padding: 1rem;
}